.dart_tool/
.packages
.pub-cache/
build/
**/*.iml
.idea/
android/.gradle/
**/GeneratedPluginRegistrant.*
**/Flutter.podspec
**/Pods/
**/Podfile.lock
**/.DS_Store
**/.vscode/
**/.classpath
**/.project
**/.settings/
