.dart_tool/
.packages
.pub-cache/
build/
**/*.iml
.idea/
android/.gradle/
.env
.env.*
.envrc
.env.local
.env.development
.env.production
.env.staging
.env.test
**/GeneratedPluginRegistrant.*
**/Flutter.podspec
**/Pods/
**/Podfile.lock
**/.DS_Store
**/.vscode/
**/.classpath
**/.project
**/.settings/
.env*